<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travens</title>
    <link rel="icon" href="/static/Logo-PNG.png">
    <meta name="author" content="Eric Julianto">
    <!-- Primary Meta Tags -->
    <meta name="title" content="Cabskuy Travel | Travelling Soon!">
    <meta name="description" content="Paket Liburan Murah">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;600;700&display=swap"
        rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Scss -->
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <!-- Navbar -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top px-3">
            <a href="#" class="navbar-brand">
                <div class="container">
                    <img src="/static/images/Logo-PNG.png" alt="Logo Travens">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Paket Travel</a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        AI Services
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-light"
                                        aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="/chatbot">Chatbot</a></li>
                                        <li><a class="dropdown-item" href="/restaurant-recommendation">Restaurant Recommendation</a></li>
                                        <li><a class="dropdown-item" href="/other-services">Other Services</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Testimonial</a>
                    </li>
                </ul>
                <ul>
                        <!-- Mobile Button -->
                        <li class="form-inline d-sm-block d-md-none" >
                            <button class="btn btn-login my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#enroll">Masuk</button>
                        </li>
                        <!-- Desktop Button -->
                        <li class="form-inline my-2 my-lg-0 d-none d-md-block">
                            <button class="btn btn-login btn-navbar-right my-2 my-sm-0 px-4" data-bs-toggle="modal" data-bs-target="#enroll">Masuk</button>
                        </li>
                </ul>
            </div>
    </div>
    </nav>
    </div>
    <!-- Akhir Navbar -->

    <!-- Main Section  -->
    <main>
        <section class="section-details-header"></section>
        <section class="section-details-content">
            <div class="container">
                <div class="row">
                    <div class="col p-0">
                        <nav>
                            <ol class="breadcrumb px-3 mt-3">
                                <li class="breadcrumb-item">
                                    AI Services
                                </li>
                                <li class="breadcrumb-item active">
                                    Custom Made AI Product
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="card text-center py-4">
                            <h1>Custom AI Product</h1>
                            <p>For Tour and Travel Industry</p>
                            <div class="row">
                                <div class="col-md-4 p-5">
                                    <div class="card">
                                        <img src="/static/services/chatbot.png" alt="Chatbot Travens">
                                        <div class="card-body">
                                            <h5 class="card-title">AI Chatbot System</h5>
                                            <p class="card-text">AI Chatbot System to increase Customer Experience.</p>
                                            <a href="/chatbot" class="btn btn-primary mt-5">Go somewhere</a>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-4 p-5">
                                    <div class="card">
                                        <img src="/static/services/face_recognition.png" alt="Face Recognition">
                                        <div class="card-body">
                                          <h5 class="card-title">Face Recognition</h5>
                                          <p class="card-text">Face Recognition for Hotel's Security.</p>
                                          <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-md-4 p-5">
                                    <div class="card">
                                        <img src="/static/services/zira.png" alt="Virtual Assistant">
                                        <div class="card-body">
                                          <h5 class="card-title">Hotel's Virtual Assistant</h5>
                                          <p class="card-text">A Virtual Assistant for Hotel's Guest.</p>
                                          <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 p-5">
                                    <div class="card">
                                        <img src="/static/services/sentiment.png" alt="Sentiment Analysis">
                                        <div class="card-body">
                                          <h5 class="card-title">Market Sentiment Analysis</h5>
                                          <p class="card-text">A simple tools to do market research analysis.</p>
                                          <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 p-5">
                                    <div class="card">
                                        <img src="/static/services/ticket_fare.png" alt="Ticket Fare Predictor">
                                        <div class="card-body">
                                          <h5 class="card-title">Ticket Fare Predictor</h5>
                                          <p class="card-text">A tools to predict unstable ticket fares.</p>
                                          <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 p-5">
                                    <div class="card">
                                        <img src="/static/services/vaccine_insurance.png" alt="Vaccine and Insurance">
                                        <div class="card-body">
                                          <h5 class="card-title">Vaccine and Insurance</h5>
                                          <p class="card-text">Vaccine and Travel Insurance recommendation system.</p>
                                          <a href="/chatbot" class="btn btn-primary mt-5">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 p-5">
                                    <div class="card">
                                        <img src="/static/services/itinerary.png" class="card-img-top" alt="itinerary Maker">
                                        <div class="card-body">
                                          <h5 class="card-title">Itinerary Maker</h5>
                                          <p class="card-text">An AI-based itinerary maker system.</p>
                                          <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 p-5">
                                    <div class="card">
                                        <img src="/static/services/travens_app.png" class="card-img-top" alt="Travens App">
                                        <div class="card-body">
                                          <h5 class="card-title">Travens Super App</h5>
                                          <p class="card-text">A super app for tour and travel needs.</p>
                                          <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 p-5">
                                    <div class="card">
                                        <img src="/static/services/marketplace.png" class="card-img-top" alt="Tourism Marketplace">
                                        <div class="card-body">
                                          <h5 class="card-title">Tourism Marketplace</h5>
                                          <p class="card-text">A platform to gather service providers and tourist.</p>
                                          <a href="/chatbot" class="btn btn-primary mt-5">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Akhir Main Section  -->

   
    <!-- Footer -->
    <hr>
    <footer class="section-footer mt-5 mb-4">
        <div class="container pt-5 pb-5">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <h5>FEATURES</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">Social Media</a></li>
                                <li><a href="#">Affiliate</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-3">
                            <h5>ACCOUNT</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Refund</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Rewards</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-3">
                            <h5>COMPANY</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Media</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-3">
                            <h5>GET CONNECTED</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Jakarta Utara</a></li>
                                <li><a href="#">Indonesia</a></li>
                                <li><a href="#">0821 2560 9413</a></li>
                                <li><a href="#">hi@travens.id</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row border-top justify-content-center align-items-center pt-1">
                <div class="col-auto text-gray-500 font-weight-light text-center">
                    2021 Copyright Travens • All rights reserved
                    <br>
                    Made in Jakarta
                </div>
            </div>
        </div>
    </footer>
    <!-- Akhir Footer -->

    <!-- Modal -->
    <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enrollLabel">Masuk dengan email</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="lead">Masuk dengan akun yang sudah kamu buat</p>
                    <form>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" class="input form-control" id="email"></input>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="col-form-label">Password</label>
                            <input type="password" class="input form-control" id="phone"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Akhir Modals -->

    <!-- Akhir Main Section -->

    <!-- JavaScript -->
    <!-- <script src="/frontend/libraries/jquery/jquery-3.6.0.min.js"></script>
    <script src="/frontend/libraries/bootstrap/js/bootstrap.js"></script>
    <script src="/frontend/libraries/retina/retina.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>